@media (max-width: 600px) {
  .table {
    font-size: 12px;
  }
  .table th, .table td {
    padding: 0.2rem;
  }
  .form-control {
    font-size: 16px;
  }
  .form-control:disabled, .form-control[readonly] {
    background-color: #ecf0f1;
    opacity: 1;
    color: #737373;
    -webkit-appearance: none;
  }
}